body{
    background-color: #f5f5f5;
}
div#main {
    width: 30%;
    margin: auto;
}
div#image {
    width: 400px;
}
div#text {
    top: 50%;
    width: 430px;
    height: 90px;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
}
p {
    text-align: center;
}
